{% extends 'base.html' %}

{% block content %}
    <h1>Profile</h1>
    <h2>Username : {{ user.username }}</h2>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <!--<p>Email: {{ user.email }}</p> -->
    <p>Joining Date: {{ user.date_joined }}</p>
    
    <h3>Description</h3>
    <p>{{ user.Profile.description }}</p>

    <form method="POST" action="{% url 'send_message' username=user.username %}">
        {% csrf_token %}
        <textarea name="message" placeholder="Write your message here"></textarea>
        <br>
        <button type="submit">Send Message</button>
    </form>
{% endblock %}
